header {
    width: 100vw;
    padding: 30px;

    & nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .logo{
            width: 180px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            letter-spacing: 1.8px;

            & h1 span {
                color:aqua;
            }
        }

        & .logo img{
            width: 30px;
            height: 30px;
        }

        & .navigator {
            width: 400px;
        }

        & .navigator ul {
            display: flex;
            justify-content: space-evenly;
        }

        & .navigator ul li {
            list-style: none;
            font-weight: 500;
        }

        & .navigator ul li a{
            text-decoration: none;
            font-size: 1.1rem;
            transition: all .7s;
        }

        & .navigator ul li a span {
            background-color: royalblue;
            padding: 10px 15px;
            border-radius: 12px;
            transition: all .4s;
        }

        & .navigator ul li a span:hover {
            background-color: rgba(65, 105, 225, 0.67);
        }

        & .navigator ul li a:hover {
            color: aqua;
        }
    }
}

.copy {
    display: flex;
    width: 100%;
    padding: 0 100px;
    margin: auto;

    & .text {
        max-width: 700px;
        padding-top: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        & h2 span{
            color: aqua;
        }

        & h2 {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            margin-bottom: 30px;
        }

        & p {
            font-size: 18px;
            margin: 10px 0;
            width: 89%;
            line-height: 1.5;
        }

        & p span {
            color: aqua;
            font-weight: 600;
            
        }
    }

    & .text-links{
        margin-top: 3rem;
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & img{
            width: 30px;
            height: 30px;
        }

        & .link-st {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: black;
            border-radius: 35px;
            padding: 25px;
            margin-right: 20px;
            width: 440px;
            height: 160px;
            
            & h3 {
                font-size: 1.4rem;
                color: rgb(19, 145, 213);
            }

            & p{
                font-size: 16px;
                width: 100%;
            }
        }

        & .link-nd{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: rgb(33, 34, 34);
            border-radius: 35px;
            padding: 25px;
            margin-right: 20px;
            width: 440px;
            height: 160px;

            & .description {
                display: flex;
                flex-direction: column;
            }

            & h3 {
                font-size: 1.4rem;
                color: rgb(150, 92, 237);
            }

            & p{
                font-size: 16px;
                width: 100%;
            }
        }
    }

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    min-width: 400px;
    width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
    text-align: center;

    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px;
        gap: 20px;
        border-radius: 30px;
        background-color: #180f85a3;
        width: 600px;
        height: 530px;
        margin-bottom: 30px;
        
        & h1{
            margin-bottom: 15px;
        }

        & h1 span {
            color: aqua;
        }

        & button {
            border-radius: 40px;
            background-color: royalblue;
            height: 70px;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
            border: none;
            transition: all .3s;
        }

        & button:hover {
            opacity: 0.7;
        }

        & input {
            height: 50px;
            border-radius: 25px;
            border: solid 1px aqua;
            padding: 0px 20px;
            background-color: #222;
            color: aqua;
            outline: none;
            margin: 0;
            font-size: 17px;
        }
    }

}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #180f85a3;
    margin: 10px;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    text-align: left;

    & button img {
        height: 20px;
    }

    & p span {
        font-weight: bold;
        color: aqua;
    }
}