header {
    width: 100vw;
    padding: 20px;

    & nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .logo{
            width: 180px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            letter-spacing: 1.8px;

            & h1 span {
                color:aqua;
            }
        }

        & .logo img{
            width: 30px;
            height: 30px;
        }

        & .navigator {
            width: 400px;
        }

        & .navigator ul {
            display: flex;
            justify-content: space-evenly;
        }

        & .navigator ul li {
            list-style: none;
            font-weight: 500;
        }

        & .navigator ul li a{
            text-decoration: none;
            font-size: 1.1rem;
            transition: all .7s;
        }

        & .navigator ul li a span {
            background-color: royalblue;
            padding: 10px 15px;
            border-radius: 12px;
            transition: all .4s;
        }

        & .navigator ul li a span:hover {
            background-color: rgba(65, 105, 225, 0.67);
        }

        & .navigator ul li a:hover {
            color: aqua;
        }
    }
}

.copy {
    display: flex;
    width: 100%;
    padding: 30px;

    & .text {
        max-width: 700px;
        margin: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        & h2 span{
            color: aqua;
        }

        & h2 {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
        }

        & p {
            font-size: 20px;
            margin-top: 30px;
            width: 100%;
            line-height: 1.5;
        }

        & p span {
            color: aqua;
            
        }
    }

    & .text-links{
        border: solid 1px aqua;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        & img{
            width: 25px;
            height: 25px;
        }

        & .link-st {
            display: flex;
            flex-direction: row;
            
        }
    }

}

.container {
    height: 600px;
    min-width: 400px;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(65, 105, 225, 0.201);
}